*/SW4STM32/*/*
!*.cproject
!*.project
!*.ld
!*.s

### CodeBlocks ###
# specific to CodeBlocks IDE
*.cbp
*.layout
*.depend
*.csv
*.txt

# generated directories
bin/
obj/

ac_decoder/
Air_Cooling_System_Control/
Weather_Station/
develope/
